<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DWRCalReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DWRCalReport.Properties.Settings>
            <setting name="filePath" serializeAs="String">
                <value>c:\tools\dwr.csv</value>
            </setting>
            <setting name="startDate" serializeAs="String">
                <value>09/01/2017</value>
            </setting>
        </DWRCalReport.Properties.Settings>
    </userSettings>
</configuration>